src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/main.cpython-310.pyc
src/service/__pycache__/register.cpython-310.pyc
src/model/__pycache__/model.cpython-310.pyc
src/service/__pycache__/user.cpython-310.pyc
src/model/__pycache__/utils.cpython-310.pyc
src/service/__pycache__/friendship.cpython-310.pyc
